.box {
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    position: absolute;
    padding: 5px;
    background-color: brown;
    
}

.sky, .green, .blue, .chocolate {
    border: 3px solid black;
    position: absolute;
    width: 100px;
    height: 100px; 
}

.sky {
    background-color: aqua;
    right: 220px;
    top: 30px;
    
}
.green {
    background-color: green;  
    left: 35px;
    bottom: 35px;
}
.blue  {
    background-color: blue;
    right: 30px;
    top: 220px;
   
}

.chocolate {
    background-color: chocolate;
    right: 30px;
    bottom: 223px;
    

}
div {

border: 3px ,solid  black;
padding: 20px;
position: absolute;
width: 100px;
height: 100px; 
}
