.sky {
    background-color: aqua;
    height: 100px;
}
.green {
    top: 200px;
    margin: auto;
    width: 120px;
    height: 120px;
    background-color: green;
    padding:30px; 
    
}

.blue  {
    background-color: blue;
    width: 80px;
    height: 80px;
   

}

.chocolate {
    background-color: chocolate;
    position: absolute;
    top: 200px;
    margin-left: 180px;
}
div {

border: 3px ,solid  black;
padding: 20px;
position: relative;
}
