header {
    
    background-color: red;
    height: 200px;
}

footer {

    background-color: palegreen;
    height: 100px;
}

h1 {

    background-color: yellow;
}
.article {
    
    background-color: cornflowerblue;
}

li {
    display:flex;
}
