.box {
    border: 3px solid black;
    width: 560px;
    height: 100px;
    position: relative;
    padding: 5px;
    background-color: brown;
    top: 150px;
    right:-35px;
    
}

.sky, .green, .blue, .chocolate {
    border: 3px solid black;
    width: 100px;
    height: 100px; 
    position: absolute;
}

.sky {
    background-color: aqua;
    right: 365px;
    top: -106px;
    
}
.green {
    background-color: green;  
    left: -3px;
    bottom: 110px;
    
}
.blue  {
    background-color: blue;
    right: 100px;
    top: 110px;
   
}

.chocolate {
    background-color: chocolate;
    right: -3px;
    bottom: -106px;
    

}
div {


}
